.region-type .el-radio__inner{
  width: 1.5rem;
  height: 1.5rem;
}
.region-type .el-radio__label{
  font-size: 1.5rem;
  color: #1beafc;
}
.content .el-carousel .el-carousel__container{
  height: 98%;
  padding: 1% 0;
  box-sizing: border-box;
}