.region-type .el-radio__inner{
  width: 0.333rem;
  height: 0.333rem;
}
.region-type .el-radio__label{
  font-size: 0.333rem;
  color: #1beafc;
}
.content .el-carousel .el-carousel__container{
  height: 98%;
  padding: 1% 0;
  box-sizing: border-box;
}
.power-ranking .canvas{
  display: none;
}
#line-tab div:first-of-type{
  border: 1px solid #000;
  width: 100% !important;
}
.content-center {
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content-center p {
  width: 100%;
  font-size: 0.33rem;
  align-self: center;
}